cmd/service/service

frontend/dist/

*/server.crt
server.crt

bin/
build/*
builds/*

cmd/main/files
cmd/main/logs
cmd/main/tunnel
cmd/main/blocklists
cmd/main/whitelists
cmd/main/*.json
cmd/main/*.conf
cmd/main/*.bak
cmd/main/*.exe
cmd/main/*.exe~
cmd/main/main
cmd/main/users
cmd/main/enc
cmd/main/tunnels*
cmd/main/api.key
cmd/main/api.crt
cmd/main/cert.pem
cmd/main/key.pem
cmd/main/private.crt
cmd/main/*.tun.json
cmd/main/*.tun.json.bak
*.exe

server/cert.pem
server/key.pem
server/config.json
server/tunnels.db
server/server

certcheck/.env

node_modules
files

.DS_Store
*.DS_Store
.idea

new_server/new_server
api.crt
api.key
