cmd/service/service

*/server.crt
server.crt

cmd/iot/*.key
cmd/iot/*.crt
cmd/iot/config.json
cmd/iot/iot

build/*
builds/*

devops/build/tunnels
server/server
cmd/main/files
cmd/main/*.exe
cmd/main/main
cmd/main/*.key
cmd/main/*.crt
*.exe

node_modules
files

.DS_Store
*.DS_Store
.idea

dist/
