.light {
  --c-white: white;
  --c-shade1: #f5f6f8;
  --c-shade2: #e8eaef;
  --c-shade3: #c0c4d0;
  --c-shade4: #6a7088;
  --c-shade5: #2a2e3a;
  --c-shade6: #0f1118;
  --c-dark-blue: #4B7BF5;
  --c-blue: #5d8af7;
  --c-green: #28ad85;
  --c-dark-green: #1c916e;
  --c-orange: #e8912a;
  --c-red-hover: #ef5555;
  --c-red: #dc3545;
  --line-border: #e0e2e8;
}

.dark {
  --c-white: #060810;
  --c-shade1: #0a0d14;
  --c-shade2: #1e2433;
  --c-shade3: #4a5068;
  --c-shade4: #8a90a0;
  --c-shade5: #c0c4d0;
  --c-shade6: #e8eaf0;
  --c-dark-blue: #4B7BF5;
  --c-blue: #5d8af7;
  --c-dark-green: #1a8a5a;
  --c-orange: #e8912a;
  --c-red-hover: #ef5555;
  --c-red: #cc4646;
  --c-green: #2a9a4a;
  --line-border: #1e2433;
}

.cursor {
  cursor: pointer;
}

html {
  font-smooth: always !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  text-rendering: optimizeLegibility !important;
}

body {
  font-family: "Inter Variable", sans-serif !important;
  font-size: 14px;
  * {
    outline: none !important;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}

.title {
  background: var(--c-shade1);
  padding: 8px 10px;
  font-size: 18px;
  font-weight: 700;
  color: var(--c-shade5);
  margin-bottom: 12px;
}

:global(.toast) {
  margin-left: 12px;
  border-radius: 6px;
  box-shadow: 0 0 2px rgb(0 0 0 / 66%);
  min-width: 200px !important;
  padding: 8px !important;
  z-index: 1999;
}

#app {
  height: auto;
  min-height: 100%;
  width: 100%;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  height: 100%;
}

.new-loader {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  z-index: 2000;
  background: none;
  .l-title {
    font-size: 13px;
    text-align: left;
    margin-left: 170px;
    background: none;
    color: white;
    padding: 4px 0;
  }
  .bar-loader {
    color: green;
    background: green;
  }
}
